.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    background-color: #f2f3f5;
}

.main {
    width: 50%;
    max-height: 100%;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    word-wrap: break-word;
}

.main img {
    max-width: 100%;
    height: auto;
}

.main::-webkit-scrollbar {
    display: none;
}
